<div class="center">
    <div class="vmeditor">
        <textarea rows="15" autofocus></textarea>
    </div>
    <div class="register_acc">
        ACC=<label id="label_acc"></label>
    </div>
    <div class="register_bak">
        BAK=<label id="label_bak"></label>
    </div>
    <div class="register_tst">
        TST=<label id="label_tst"></label>
    </div>
    <div class="status_label">
        STATUS=<label id="status"></label>
    </div>
    <div class="control_step">
        <button id="adv">STEP</button>
        <button id="rst">RESET</button>
    </div>
    <div class="control_play">

    </div>
</div>